/* ===================== */
/* GENERALES             */
/* ===================== */
.DivContenido {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.DivContenidoVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}

/* ===================== */
/* DESCRIPCION CURSO     */
/* ===================== */
.DescripcionCurso {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #E8D9BE;
    background-color: #55101F;
}
.ContenidoTexto {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    max-width: 600px;
    gap: 15px;
}
#TituloInicial {
    font-family: 'Lora', serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
}
#ParrafoDescripcion {
    font-size: 18px;
    max-width: 500px;
    line-height: 2;
}
.BotonInscribirse {
    background-color: #E0C69A;
    color: #4A0C1C;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    max-width: 350px;
}

/* ===================== */
/* AREAS CURSO           */
/* ===================== */
.AreasCurso {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #4A0C1C;
}
.DivAreas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Area {
    flex: 1 1 250px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #EDE3D2;
    color: #4A0C1C;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}
.Area p {
    font-size: 14px;
      line-height: 1.5;
}
/* ===================== */
/* PLANES DE PAGO        */
/* ===================== */
.PlanesPago {
    color: #4A0C1C;
    background-color: #F3EBDD;
}
.ContenedorTextoPlanes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.ContenedorPlanes{
        background-color: #E8D9BE;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.Planes{

    padding: 40px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Planes h4{
    align-self:flex-start;
    font-size: 14px;
    color: #A89A8E;
    margin-bottom: 10px;

}
.Planes button{

    font-weight: bold;
    font-size: 15px;
    padding: 10px 35px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-self: baseline;
}
.Planes ul{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.7;
}
#Plan1{
    
    background-color: white;
}
#Plan1 button{
    color: white;
    background-color: #4A0C1C;
}
#Plan2{
    background-color: #6B1228;
    color: #E8D9BE;
}
#Plan2 button{
    background-color: #E0C69A;
    color: #55101F;
}
#ContenedorPrecio{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
}
#ContenedorPrecio h2{
    font-size: 40px;
    font-weight: bold;
     align-self: flex-end;
}
#ContenedorPrecio h3{
    align-self: flex-end;
}