/* ===================== */
/* GENERALES             */
/* ===================== */
.DivContenido {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.DivContenidoVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}

/* ===================== */
/* DESCRIPCION CURSO     */
/* ===================== */
.DescripcionCurso {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #E8D9BE;
    background-color: #55101F;
}
.ContenidoTexto {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    max-width: 600px;
    gap: 15px;
}
#TituloInicial {
    font-family: 'Lora', serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
}
#ParrafoDescripcion {
    font-size: 18px;
    max-width: 500px;
    line-height: 2;
}
.BotonInscribirse {
    background-color: #E0C69A;
    color: #4A0C1C;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    max-width: 350px;
}

/* ===================== */
/* AREAS CURSO           */
/* ===================== */
.AreasCurso {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #4A0C1C;
}
.DivAreas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Area {
    flex: 1 1 250px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #EDE3D2;
    color: #4A0C1C;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}
.Area p {
    font-size: 14px;
      line-height: 1.5;
}
/* ===================== */
/* PLANES DE PAGO        */
/* ===================== */
.PlanesPago {
    color: #4A0C1C;
    background-color: #F3EBDD;
}
.ContenedorTextoPlanes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.ContenedorPlanes{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.Planes{
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
#Plan1{

    background-color: white;
}
#Plan2{

    background-color: #55101F;
    color: #E8D9BE;
}